.page {
  //color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 100%;
}

mat-drawer {
  background: #0f172a;
}


.page {
  //color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 100%;
}

mat-drawer {
  background: #0f172a;
}



//////////
/// 
/* Set the font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Add a background color */
body {
  background-color: #f2f2f2;
}

/* Style the form container */
form {
  background-color: #fff;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Style the form fields */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

select {
  
 
  background-repeat: no-repeat;
  background-position: right center;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}





.Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: rgb(168, 38, 255);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px rgb(140, 32, 212);
  transition-duration: .3s;
}

.svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: .3s;
}

.Btn:hover {
  color: transparent;
}

.Btn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
}

.Btn:active {
  transform: translate(3px , 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px rgb(140, 32, 212);
}




