.page {
  //color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 100%;
}

mat-drawer {
  background: #0f172a;
}


.page {
  //color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 100%;
}

mat-drawer {
  background: #0f172a;
}



//////////
/// 
/* Set the font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Add a background color */
body {
  background-color: #f2f2f2;
}

/* Style the form container */
form {
  background-color: #fff;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Style the form fields */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

select {
  
 
  background-repeat: no-repeat;
  background-position: right center;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}





.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
}

.button, .button__icon, .button__text {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button .button__text {
  -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
          transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  -webkit-transform: translateX(109px);
      -ms-transform: translateX(109px);
          transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #34974d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button .svg {
  width: 30px;
  stroke: #fff;
}

.button:hover {
  background: #34974d;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.button:active .button__icon{
  background-color: #2e8644;
}

.button:active {
  border: 1px solid #2e8644;
}



