<mat-nav-list>
  <div class="logo py-4">
    <!----<img src="./assets/aez.svg" width="50" height="80"  alt="E-Cinema" />  -->
    <h1 style="color: rgb(249, 249, 249)">E-Cinema</h1> 
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/gestion-cinema"
  >
  <mat-icon> store_mall_directory</mat-icon> Gestion Cinema
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/gestion-salle">
    <mat-icon>style</mat-icon> Gestion Des Salles
  </a>
  <a mat-list-item routerLink="/gestion-film"> <mat-icon>tv</mat-icon> Gestion Des Films </a>
  <!-- <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a> -->
  
</mat-nav-list>
