<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <!-- <mat-drawer mode="side" opened="true"> -->
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
   
    <div class="container-fluid page">
     

      <header>
  
        <div class="row small">
          <div class="imagegroup" style="animation-delay: 1s;">
            <img src="./assets/images/a.jpg" width="180" height="342" alt="">
            <img src="./assets/images/b.jpg" width="180" height="342" alt="">
            <img src="./assets/images/c.jpg" width="180" height="342" alt="">
            <img src="./assets/images/d.jpg" width="180" height="342" alt="">
            <img src="./assets/images/e.jpg" width="180" height="342" alt="">
            <img src="./assets/images/w.jpg" width="180" height="342" alt="">

            <img src="./assets/images/g.jpg" width="180" height="342" alt="">
            <img src="./assets/images/aa.jpg" width="180" height="342" alt="">
            <img src="./assets/images/n.jpg" width="180" height="342" alt="">
            
          </div>
        </div>
        
        
        <div class="row large">
           <div class="imagegroup" style="border:2px solid white">
            <img src="./assets/images/s.jpg" width="800" height="480" alt="">
            <img src="./assets/images/q.jpg" width="1024" height="480" alt="">
           </div>
        </div>
      
      </header>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
